<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hfad.parkingfinder">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:name=".app.ParkingFinderApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="db299daf6fbe94724fd5caa9f748613402ec310c" />

        <activity
                android:name=".ui.splash.SplashActivity"
                android:noHistory="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.welcome.WelcomeActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.createaccount.CreateAccountActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />
        <activity
                android:name=".ui.login.LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />
        <activity
                android:name=".ui.main.MainActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name=".ui.findbylocation.FindByLocationActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.findnearest.FindNearestActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.findneartoprovider.FindNearToProviderActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.reportparkingstate.ReportParkingStateActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.settings.SettingsActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.reportinconsistency.select.SelectInconsistencyTypeActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.reportinconsistency.other.ReportOtherInconsistencyActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.reportinconsistency.nonexistentparking.ReportNonexistentParkingActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeSolidNav" />
        <activity
                android:name=".ui.reportinconsistency.newparking.additionaldetails.ReportNewParkingDetailsActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.reportinconsistency.newparking.map.ReportNewParkingMapActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.parkingdetails.ParkingDetailsActivity"
                android:theme="@style/AppThemeSolidNav"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.findprovider.FindProviderActivity"
                android:screenOrientation="portrait"/>

    </application>

</manifest>